body {
  background-color: aliceblue;
}

.btn {
  border: white 3px solid;
}

#all-button {
  background-color: green;
}

#cat-button {
  background-color: indigo;
}

#dog-button {
  background-color: navy;
}

#dino-button {
  background: darkred;
}

#submit-button {
  background: navy;
}
